
/* Page Toolbar */
.page_toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary);
    height: 60px;
    padding-inline: 1rem;
    letter-spacing: 1px;
    margin-block: var(--margin-block);
    outline: 2px solid var(--slate-border);
}


.courses_section {
    margin-block: var(--margin-block);
    width: 100%;

    .courses {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
        gap: 1rem;

        .course {
            width: 100%;
            height: max-content;
            background: var(--secondary);
            display: flex;
            flex-direction: column;
            outline: 2px solid var(--slate-border);

            .course_head , .course_footer{
                width: 100%;
                flex: 0.3;
                padding: .5rem;
            }

            .course_head{
                border-bottom: 3px solid var(--slate-border);
                padding: 1rem;

                .course_title{
                    font-size: 1.1rem;
                }

                .course_category, .course_hours{
                    color: rgb(121, 121, 121);
                }
            }

            .course_body{
                flex-grow: 1;
                padding: 1rem;
                display: flex;
                width: 100%;
                align-items: center;
                align-content: space-between;
                flex-direction: column;
                text-align: center;

                .course_author{
                    flex: 0.25;
                    max-width: 100px;
                    background: var(--slate-border);
                    height: 100%;
                    margin-bottom: var(--margin-block);
                }
                
                .course_author_details{
                    flex-grow: 1;
                    padding-inline: 1rem;
                    height: 100%;
                }
                
                
                .author_name{
                    font-size: 1.1rem;
                    font-weight: 500;
                }

               
                
            }


            .course_footer{
                border-top: 3px solid var(--slate-border);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 1rem;

                span{
                    padding: .5rem;
                    border: 2px solid var(--slate-border);
                    border-radius: 50%;
                    margin-block: var(--margin-block);

                    &:hover {
                        background: var(--slate-border);
                        transition: .3s all ease-in-out;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}