.studentservices{
    width: 100%;
    outline: 2px solid var(--slate-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block : var(--margin-block);

    .services_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        

        & > div:first-child {
            padding: var(--section-padding);
            background: var(--secondary);
            width: inherit;
        }

        & > div:last-child {
            
            width: inherit;
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: repeat(auto-fit , minmax(250px ,1fr));
          
            a{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                padding: var(--section-padding);
                gap: 1rem;
                color: var(--text-color);
                overflow: hidden;
                text-overflow: ellipsis;
                height: 100%;

                & > span:first-child{
                    padding: .5rem;
                    border: 2px solid var(--slate-border);
                    border-radius: 50%;

                    &:hover {
                        background: var(--slate-border);
                        transition: .3s all ease-in-out;
                        cursor: pointer;
                    }
                }

                
            }
        }
    }


}